@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    <div class="col-md-4 col-xs-6 border-primary mb-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <h5 class="card-title">The Matrix</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://www.shutterstock.com/image-vector/many-rainbow-gradient-random-bright-600w-2274412231.jpg" width="100%" alt="The Matrix">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">A computer hacker learns about the true nature of reality.</p>
                        <p class="card-text"><b>Cinema:</b> Grand Cinema</p>
                        <p class="card-text"><b>Category:</b> Action</p>
                        <p class="card-text"><b>Start Date:</b> 01 Aug 25</p>
                        <p class="card-text"><b>End Date:</b> 15 Aug 25</p>
                        <p class="card-text"><b>Status:</b> <span class="badge bg-success text-white">AVAILABLE</span></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Show Details</a>
                        <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart (Price $9.99)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xs-6 border-primary mb-3"></div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <h5 class="card-title">The Matrix</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://www.shutterstock.com/image-vector/many-rainbow-gradient-random-bright-600w-2274412231.jpg" width="100%" alt="The Matrix">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">A computer hacker learns about the true nature of reality.</p>
                        <p class="card-text"><b>Cinema:</b> Grand Cinema</p>
                        <p class="card-text"><b>Category:</b> Action</p>
                        <p class="card-text"><b>Start Date:</b> 01 Aug 25</p>
                        <p class="card-text"><b>End Date:</b> 15 Aug 25</p>
                        <p class="card-text"><b>Status:</b> <span class="badge bg-success text-white">AVAILABLE</span></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Show Details</a>
                        <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart (Price $9.99)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Repeat for another movie -->
    <div class="col-md-4 col-xs-6 border-primary mb-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header text-white bg-info">
                        <h5 class="card-title">Inception</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="https://www.shutterstock.com/image-vector/many-rainbow-gradient-random-bright-600w-2274412231.jpg" width="100%" alt="Inception">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <p class="card-text">A thief who steals corporate secrets through dream-sharing technology.</p>
                        <p class="card-text"><b>Cinema:</b> IMAX Theater</p>
                        <p class="card-text"><b>Category:</b> Sci-Fi</p>
                        <p class="card-text"><b>Start Date:</b> 03 Aug 25</p>
                        <p class="card-text"><b>End Date:</b> 12 Aug 25</p>
                        <p class="card-text"><b>Status:</b> <span class="badge bg-primary text-white">UPCOMING</span></p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer">
                        <a class="btn btn-outline-primary float-right"><i class="bi bi-eye-fill"></i> Show Details</a>
                        <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart (Price $12.50)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
